/* Prefix */
$prefix: 'ze';

/* Font */
$font-weight-md:   500;
$font-weight-base: 400;
$font-family-base: 'Poppins, sans-serif';

/* Container */
$container-padding-y: 60px;
$container-padding-x: 40px;
$container-max-width: 1200px;

/* Colors */
$white:      #fff!important;
$danger:     #ef2929!important;
$light-blue: #e6effb!important;
$light-grey: #dadedf!important;
$md-grey:    #8c979a!important;
$dark-grey:  #555f61!important;
$dark:       #373d3f!important;
