<div class="ze-container">
  <app-loader [showLoader]="true" [progressId]="progressIds.PRGRS_GET_ZONE_LIST"></app-loader>
  <header class="ze-header">
    <div class="ze-header--block">
      <span class="ze-header--block--title">
        Saved Zones
      </span>
      <div>
        <button (click)="createNewZone()"
                type="button" mat-flat-button>
          Create New Zone
        </button>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="ze-listing">
      <div class="ze-listing--header">
        <mat-form-field appearance="outline" class="ze-listing--header--input">
          <input [(ngModel)]="filter.term"
                 type="text" matInput placeholder="Search zone by name">
          <mat-icon matSuffix fontIcon="search"></mat-icon>
        </mat-form-field>
        <div class="ze-listing--header--filter">
          <mat-icon [matTooltip]="filter.newest ? 'Newest First' : 'Oldest First'"
                    matTooltipPosition="left"
                    (click)="sortListing()"
                    [class.down]="!filter.newest"
                    matSuffix class="ze-listing--header--filter-icon"
                    fontIcon="filter_list"></mat-icon>
        </div>
      </div>
      <div class="ze-listing--block">
        <div *ngIf="zones?.length; else emptyTmpl" class="ze-listing--block--list">
          <mat-card *ngFor="let zone of zones|search:filter.term"
                    class="ze-listing--block--card" appearance="outlined">
            <app-loader [progressId]="getCardProgressId(zone?.id)"></app-loader>
            <mat-card-content>
                <div class="ze-listing--block--card-header">
                  <div class="ze-listing--block--card-header-left">
                    <mat-icon matSuffix
                              class="ze-listing--block--card-zone-icon"
                              fontIcon="map"></mat-icon>
                    <div>
                      <span class="ze-listing--block--card-title">Zone Name</span>
                      <p class="ze-listing--block--card-zone-name">{{zone?.name}}</p>
                    </div>
                  </div>
                  <mat-icon matSuffix
                            (click)="deleteZone(zone)"
                            class="ze-listing--block--card-delete"
                            fontIcon="delete_outline"></mat-icon>
                </div>
                <mat-divider></mat-divider>
                <div class="ze-listing--block--card-polygon">
                  <app-zone-polygon [points]="zone?.points"
                                    customClass="ze-listing--block--card-svg"></app-zone-polygon>
                </div>
                <mat-divider></mat-divider>
                <div class="ze-listing--block--card-points">
                  <mat-icon matSuffix
                            class="ze-listing--block--card-zone-icon"
                            fontIcon="my_location"></mat-icon>
                  <div>
                    <mat-chip-set>
                      <mat-chip *ngFor="let point of zone?.points">
                        {{point[0]}}, {{point[1]}}
                      </mat-chip>
                    </mat-chip-set>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
        </div>
        <ng-template #emptyTmpl>
          <div *ngIf="zones" class="ze-empty--block">
            <div>
              <mat-icon matSuffix
                        class="ze-empty--block-icon"
                        fontIcon="block"></mat-icon>
            </div>
            <div class="ze-empty--block-right">
              <div class="ze-empty--block-right--texts">
                <p class="ze-empty--block-right--title">Saved Zones</p>
                <span class="ze-empty--block-right--desc">Your Saved Zones will appear here.</span>
              </div>
              <button (click)="createNewZone()"
                      type="button" mat-flat-button>
                Create New Zone
              </button>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </header>
</div>
